<%= render 'layouts/styling' %>
<br>
<fieldset class="cocktail", align="center"><br>
<legend>Good Bye!</h2></legend>

<h1> Come back when you grow up! </h1>
<br><br><br><br><br>
<p> GOVERNMENT WARNING: (1) According to the Surgeon General, women should not drink alcoholic beverages during pregnancy because of the risk of birth defects. (2) Consumption of alcoholic beverages impairs your ability to drive a car or operate machinery, and may cause health problems. </p>

</fieldset>