<h1> Hello, Bartenders and Alcohol Enthusiasts! </h1>

<h2>This is a safe space to share your recipes and hear feedback from others.</h2>

<h2>Remember that responsible drinking of alcohol in small amounts makes you alcoholOK. </h2>


<h1>Have you aged at least 21 years old?</h1>

<div class="center">
    <%= button_to "YES", cocktails_path, method: :get %>
    <%= button_to "NO", bye_path, method: :get %>
</div>



<p> GOVERNMENT WARNING: (1) According to the Surgeon General, women should not drink alcoholic beverages during pregnancy because of the risk of birth defects. (2) Consumption of alcoholic beverages impairs your ability to drive a car or operate machinery, and may cause health problems. </p>