<%= render 'search' %>
<% if @cocktails.size == 0 %>
    <h3> There is no Cocktails yet. Please create a new one! </h3> 
<% else %>
    <% @cocktails.each_slice(3) do |cocktail| %>
        <% cocktail.each do |i|%>
            <div align="center" class="float-left"><%= link_to i.name, cocktail_path(i) %></div>
        <%end%>
    <% end %>
<% end %>
